@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.black.900");
  --foreground: theme("colors.white");
}

body {
  @apply font-sans;
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
